/* Your Website Styles */

body {
	font-family: 'Arvo', serif;
	background: url(http://www.hdbackgroundspoint.com/wp-content/uploads/2014/01/07/i7i7.jpeg);
	color: white;
	margin-right: 10px;
}

img {
	height: 370px;
	width: 495px;
	border: solid 1px white;
	border-radius: 10px;
}

h2 p {
	width: 3em;
}

h1, h2, h3 {
	color: yellow;
}

/* Set Your Own Margin & Padding */
h1, h2, h3, p {
	margin: 15px 0 5px 0;
	padding: 0;
}


/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

p {
	line-height: 25px;
	text-align: justify;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid white;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: yellow;
}

.color-2 {
	background: white;
}

.color-3 {
	background: royalblue;
}


li {
	list-style: none;
}

li a {
	line-height: 25px;
}

a:link {
	color: royalblue;
	text-decoration: none;
}

a:visited {
	color: royalblue;
}

a:hover {
	color: yellow;
	text-decoration: none;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}